<div class="background"></div>

<div class="modal">
  <header class="bonus-header">
    <div class="logo-container">
      <figure>
        <img
          src="https://www.lafija.com/storage/v1/public/LF_logo_2.webp"
          alt="La Fija Logo"
          class="logo"
        />
      </figure>
    </div>
  </header>

  <main class="bonus-content">
    <ng-container [ngSwitch]="currentStep">
      <app-bonus-step *ngSwitchCase="'bonus'" (bonusSelected)="goToForm($event)"> </app-bonus-step>
      <app-register-step *ngSwitchCase="'form'"> </app-register-step>
    </ng-container>
  </main>
  <footer class="help-footer">
    <div class="help-content">
      <a href="https://imgbb.com/"><img class="icon-help" src="https://i.ibb.co/cXy9pSw5/conversacion-2.png" alt="conversacion-2" border="0"></a>
      <span class="help-text">¿Necesita Ayuda?</span>
    </div>
    <div class="login-content">
      <span class="login-question">¿Ya tienes cuenta?</span>
      <a href="#" class="login-link">Inicia sesión aquí</a>
    </div>
  </footer>
</div>
