/* === FONDO === */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/background.jpeg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.85);
  z-index: -1;
}

/* === MODAL === */
.modal {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 94vh;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  color: white;
  box-shadow: 0px 0px 30px rgba(0, 255, 100, 0.25);
  backdrop-filter: blur(3px);
}

@media (max-width: 900px) {
  .modal {
    width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

/* === TITULOS === */
.modal h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.modal p {
  color: #ccc;
  margin-bottom: 20px;
}

/* === OPCIONES DE BONO === */
.bonus-option {
  margin-top: 15px;
  background: #111;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bonus-option:hover {
  border-color: #00ff80;
  background: #1b1b1b;
}

.bonus-option h3 {
  margin: 0;
  color: #00ff80;
  font-size: 20px;
  font-weight: bold;
}

.bonus-option p {
  margin: 0;
  color: #bbb;
}

/* === FORMULARIO === */
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-field input, 
.form-field select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: white;
}

.button-primary {
  width: 100%;
  background: #00ff80;
  border: none;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: .2s;
}

.button-primary:hover {
  background: #00cc66;
}
