<div class="background"></div>

<div class="modal">
  <!-- HEADER FIJO -->
  <header class="bonus-header">
    <div class="logo-container">
      <figure>
        <img src="https://www.lafija.com/storage/v1/public/LF_logo_2.webp" alt="La Fija Logo" class="logo">
      </figure>
    </div>
  </header>

  <!-- CONTENIDO DINÁMICO -->
  <main class="bonus-content">
    <ng-container [ngSwitch]="currentStep">
      <app-bonus-step
        *ngSwitchCase="'bonus'"
        (bonusSelected)="goToForm($event)">
      </app-bonus-step>

      <!-- Aquí luego puedes agregar más pasos -->
      <!-- <app-form-step *ngSwitchCase="'form'"></app-form-step> -->
    </ng-container>
  </main>

  <!-- FOOTER FIJO -->
  <footer class="help-footer">
    <div class="help-content">
        <span class="help-text">¿Necesita Ayuda?</span>
    </div>
    
    <div class="login-content">
        <span class="login-question">¿Ya tienes cuenta?</span>
        <a href="#" class="login-link">Inicia sesión aquí</a>
    </div>
</footer>
</div>
