/* === FONDO === */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/background.jpeg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.85);
  z-index: -1;
}

/* === MODAL === */
.logo {
  display: block;
  margin: 0 auto 24px auto;
  width: 180px;
  height: auto;
}
/* === MODAL === */
.modal {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 94vh;
  background: #111211;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 0px 30px rgba(0, 255, 100, 0.25);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 900px) {
  .modal {
    width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

/* === TITULOS === */
.modal h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.modal p {
  color: #ccc;
  margin-bottom: 20px;
}

/* === OPCIONES DE BONO === */
.icon-help {
  width: 18px;
  height: 18px;
}
.bonus-content {
  flex-grow: 1;
  overflow-y: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bonus-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url("https://i.imgur.com/i9MlHxR.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  
  opacity: 0.03; 
  z-index: -1; 
}

/* === Footer === */
.help-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
}
.help-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 36px;
  min-width: 48px;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #0e100e;
}
.help-content .help-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-footer .login-content .login-question {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.help-footer .login-content .login-link {
  font-family: Montserrat, sans-serif;
  color: #00b96f;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
